<style type="text/css">
    .sign-in {
        margin: 20px;
    }

    .info-notice {
        margin: 20px;
        padding-top: 40px;
    }
</style>
<div class="account-page">
    <div class="sign-in">
        <h1>Sign In</h1>

        <%= form_with url: sign_in_path do |form| %>
            <div>
                <%= form.label :email %>
                <%= form.text_field :email %>
            </div>

            <div>
                <%= form.label :password %>
                <%= form.text_field :password %>
            </div>

            <div>
                <%= form.submit "Sign In" %>
            </div>
        <% end %>
    </div>
    <div class="info-notice">
        <h6>Need an account?</h6>
        <%= button_to "Sign Up", sign_up_path %>
    </div>
</div>